.container{
    width: 100%;
}

.card-label{
    width: 10rem;
    border-radius: 1rem;
    border: solid 1px #8f8c8cb1;
}

.value-label{
    display: flex;
    align-items: center;
}

.text-label{
    text-align:center;
}

.button-label, .show-value-label, .delete-a-key{
    width: 10rem;
    margin-top: 1rem;
    cursor: pointer;
    padding: .5rem;
    border-radius: 1rem;
    border: solid 1px #8f8c8cb1
}

.value-json{
    width: 90%;
    display: flex;
}

.border{
    border: solid 1px #8f8c8cb1;
    padding: .5rem;
}

.id, .title{
    width: 25%;
}

.border{
    width: 50%;
    /* overflow-wrap: break-word; */
    word-break: break-all;
}

.value-json-wrapper{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.quest-456{
    margin-top: 1rem;
    display: flex;
    width: 90%;
    justify-content: space-between;
}